# IntelliJ cruft
/out/
/.idea
/*.iml

# Eclipse
.classpath
.project

# Misc cruft
/META-INF
/META-INF2
/bin

# Temporary tests and BEAST log files
/src/tempTests/
/examples/tempExamples/
/Results/
/*.state
/*.trees
/*.log
/*.newick
/*.nexus
/src/beast/math/*Temp.java
/src/treeSimulator/
