# IntelliJ cruft
/out/
/.idea
/*.iml

# Eclipse
.classpath
.project

# Misc cruft
/META-INF
/bin

# Ant build script
/build
/build-lib
/dist

# Temporary tests and BEAST log files
/src/tempTests/
/examples/tempExamples/
/Results/
/*.state
/*.trees
/*.log
/*.newick
/*.nexus
/src/beast/math/*Temp.java
/src/treeSimulator/

# MacOS cruft
.DS_Store
