# IntelliJ cruft
/out/
/.idea
/*.iml

# Eclipse
.classpath
.project

# Misc cruft
/META-INF
/bin

# Temporary tests and BEAST log files
/src/tempTests/
/examples/tempExamples/
/*.state
/*.trees
/*.log
/*.newick
/*.nexus