<beast version="2.0"
       namespace="beast.core
                 :beast.core.util
                 :beast.core.parameter
                 :beast.evolution.alignment
                 :beast.evolution.likelihood
                 :beast.evolution.tree
                 :beast.evolution.tree.coalescent
                 :beast.evolution.sitemodel
                 :beast.evolution.substitutionmodel
                 :beast.evolution.operators
                 :beast.math.distributions
                 :feast.simulation
                 :feast.fileio.logfileiterator
                 :bdmmprime.distribution
                 :bdmmprime.parameterization
                 :bdmmprime.mapping">

  <run spec="LogFileIterator">

    <logFileState spec="TreeLogFileState" logFileName="simulator.nodetyped.trees"
                  readTaxonSet="false">
      <tree id="untypedTree" spec="Tree"/>
    </logFileState>

    <logFileState spec="TraceLogFileState" logFileName="simulator.log">
      <logFileEntry spec="LogFileRealParameter" fieldName="finalSampleOffset">
        <fieldParameter spec="RealParameter" id="finalSampleOffset" value="0"/>
      </logFileEntry>
    </logFileState>

    <logger spec="Logger" logEvery="1">
      <log idref="finalSampleOffset"/>
      <log id="treeStat" spec="TreeStatLogger" tree="@untypedTree"/>
      <log id="typedTreeStat" spec="TypedTreeStatsLogger" typedTree="@tree" typeLabel="type" typeSet="@typeSet"/>
    </logger>

    <logger spec="Logger" logEvery="1" fileName="$(filebase).log">
      <log idref="finalSampleOffset"/>
      <log idref="treeStat"/>
      <log idref="typedTreeStat"/>
    </logger>


    <logger spec="Logger" logEvery="1" fileName="$(filebase).trees">
      <log id="tree"
           spec="TypeMappedTree"
           typeLabel="type"
           untypedTree="@untypedTree"
           remapOnLog="true"
           mapOnInit="false"
           finalSampleOffset="@finalSampleOffset">
        <parameterization id="param" spec="CanonicalParameterization">
          <origin id="origin" spec="RealParameter" value="5"/> <!-- Length of simulation -->
          <typeSet id="typeSet" spec="bdmmprime.parameterization.TypeSet" value="0,1"/>
          <birthRate spec="SkylineVectorParameter" typeSet="@typeSet">
            <skylineValues spec="RealParameter" value="2.0 2.0"/>
          </birthRate>
          <deathRate spec="SkylineVectorParameter" typeSet="@typeSet">
            <skylineValues spec="RealParameter" value="1.0"/>
          </deathRate>
          <samplingRate spec="SkylineVectorParameter" typeSet="@typeSet">
            <skylineValues spec="RealParameter" value="0.5"/>
          </samplingRate>
          <removalProb spec="SkylineVectorParameter" typeSet="@typeSet">
            <skylineValues spec="RealParameter" value="1.0"/>
          </removalProb>
          <!-- <migrationRate spec="SkylineMatrixParameter" typeSet="@typeSet"> -->
          <!--   <skylineValues spec="RealParameter" value="0.5 0.1"/> -->
          <!-- </migrationRate> -->
          <birthRateAmongDemes spec="SkylineMatrixParameter" typeSet="@typeSet">
<!--             <skylineValues spec="RealParameter" value="1.0 1.0"/>-->
            <skylineValues spec="RealParameter" value="0.0 0.0 1.0 1.0 0.0 0.0"/>
            <changeTimes spec="RealParameter" value="3.9 4.0"/>
          </birthRateAmongDemes>
        </parameterization>
        <frequencies id="freqs" spec="RealParameter" value="0.5 0.5"/>
      </log>
    </logger>

    
  </run>

</beast>
